@model LibraryManagement.Models.Book
@* Ten widok wyświetla szczegółowe informacje o pojedynczym obiekcie klasy Book *@

@{
    ViewData["Title"] = "Szczegóły książki";
    // Ustawienie tytułu strony w układzie _Layout
}

<h1>Szczegóły książki</h1>

<div>
    <hr />
    @* Użycie listy opisowej (Description List) do czytelnego prezentowania danych pary etykieta-wartość *@
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
            @* Pobiera nazwę pola "Tytuł" z modelu danych *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
            @* Wyświetla konkretny tytuł wybranej książki *@
        </dd>

        <dt class="col-sm-2">
            Autor
        </dt>
        <dd class="col-sm-10">
            @Model.Author?.FullName
            @* Wyświetla pełne dane autora dzięki właściwości nawigacyjnej. 
               Znak '?' zabezpiecza przed błędem, jeśli autor nie byłby przypisany. *@
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt class="col-sm-2">
            Liczba stron
            @* Spolszczona etykieta dla PageCount *@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PageCount)
        </dd>

        <dt class="col-sm-2">
            Data publikacji
        </dt>
        <dd class="col-sm-10">
            @Model.PublicationDate.ToString("yyyy-MM-dd")
            @* Ręczne formatowanie daty do formatu RRRR-MM-DD *@
        </dd>
    </dl>
</div>

<div class="mt-4">
    @* Warunkowe wyświetlanie przycisków zarządzania - tylko dla roli Administrator *@
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edytuj</a>
        <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Usuń</a>
        <span class="mx-2">|</span>
    }

    <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
</div>